.container {
    display: flex;
    flex-direction: column;
}

.drawScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: red;
    border-width: 30px;
    min-height: 500px;
    min-width: 500px;
    max-height: 500px;
    max-width: 500px;
}