.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    font-size: 32px;
    font-weight: 900;
    background-color: #a0d2eb;
  }

body {
    display: flex;
    flex-direction: column;
    background-color: #e5eaf5;
}

.body {
    flex: 1;
    display: flex;
}

.buttons {
    width: 200px;
    background: #d0bdf4;
    flex-shrink: 0;
    flex-direction: column;
    padding: 16px;
  }

.drawScreen {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-style: solid;
    border-color: #a28089;
    border-width: 30px;
    min-height: 500px;
    min-width: 500px;
    max-height: 500px;
    max-width: 500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}